body{
    margin: 0;
    background-image:linear-gradient(0deg, rgba(31, 24, 46, 0.8) 0%, rgba(31, 24, 46, 0.5) 50%, rgba(31, 24, 46, 1) 100%), url(images/Fond_mobile_billetterie.svg);
    background-size: cover;
    background-position: center ;
  }

  main {
    font-family: "Inter", sans-serif;
    color: white;

  }

   header {
    background-image: none;
    background-color: transparent;
    height: fit-content;
   }
  
  fieldset {
    text-align: center;
    border: none;
    min-width: 100%; 
    overflow: hidden;

  }
  form {
    display: flex;
    padding-top: 15px;
  }
  .form_wrap {
    position: relative;
    overflow: hidden;
  }
h1{
    text-align: center;
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 10px;
    font-family: "Inter", sans-serif;
     text-transform: uppercase;
  }
  
  p {
    line-height: normal;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 20px;
    opacity: 0.7;
  }
  
  h2{
    font-family: "Inter", sans-serif;
    font-size: 1.9rem;
    font-weight: 600;
    
  }

  label {
    margin-bottom: 5px;
  }
  .champ{
    text-align: left; 
    margin-top: 50px;
  }
  
  @media screen and  (min-width:400px){
  
    .billeterie-page{
      background-color: #E4A771;
      height: 100vh;
      width: 100%;
    }
  };

  
/* Formulaire */
  
  .date-formulaire, .horraire-formulaire{
  font-size: 1.2rem; 
  font-style: italic ; 
  }
  
  .date-choix{
    padding: 10px;
    border-radius: 50px;
    background-color: #D9D9D9 ;
    opacity: 70%;
    border: none;
    width: 100%;
    font-family: "Inter", sans-serif;
  }
  
  .horaires{
    font-family: "Inter", sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
    /* width: 80%; a mettre */
  
  }
  
  input[type=radio] {
display: none;
  }
  
  input[type=radio]+label {
    display: inline-block;
    padding: 7px 20px;
    /* background-color: #e7e7e7; */
    border: solid #D9D9D9;
    border-radius: 50px;
    cursor: pointer;
  }
  
  input[type=radio]+label:hover{
    background-color:#D9D9D9 ;
    color: black;
    transition: color 0.1s ease-in-out;
  }
  
  input[type=radio]:checked+label {
    background-color:#D9D9D9 ;
    color: black;
  }

  
button{
    padding: 7px 35px ;
    border-radius: 50px;
    border: solid #D9D9D9;
    color:black ;
    font-size: 1.2rem;
    cursor: pointer;
    }
    
    button:hover{
      color:black;
      /* background-color: #D9D9D9; */
    
    }
    
    .button-form{
      display: block; 
      margin: 0 auto; 
      margin-top: 20px;
    
    }
    
    
    .error-1, .error-2{
      color: red;
      text-transform: lowercase;
    }

    /* chemin de navigation */
  
    .etapes{
      text-align: center;
    }

  .etape {
    text-align: center;
    font-size: 0.8rem;
    margin-top: 20px;
    color: white;
    opacity: 50%;
    display: inline;
  }
  
  
  .etape_active  {
   color: white;
   text-decoration: none;
   font-weight: 600;
   opacity: 1;
  }
  
  .image-ticket img{
    width: 200px;
  }
  
  .image-ticket{
    margin-top: 30%;
    width: 500px;
    height: 200px;
    display: none;
  }

  
/* style compteur */
  
  .adulte_billet{
    display: flex;
    gap: 5px;
  }
  
  
  .enfant_billet{
    display: flex;
    gap: 5px;
  
  }
  
  
  .adulte_billet button{
    width: 50px; 
    height: 50px; 
    padding: 10px; 
    font-size: 1.2rem; 
    color: #D9D9D9;
    background-color: transparent ;
    border: solid #D9D9D9;
    font-family: "Inter";
  }
  
  .enfant_billet button{
    width: 50px; 
    height: 50px; 
    padding: 10px; 
    font-size: 1.2rem; 
    color: #D9D9D9;
    background-color: transparent ;
    border: solid #D9D9D9;
    font-family: "Inter";
  }
  
  .counter{
      display: flex;
      justify-content: center;
      align-items: center; 
      width: 100px; 
      height: 50px; 
      border-radius: 50px;
      color: rgb(92, 92, 92); 
      font-size: 0.9rem;
      background-color: #D9D9D9;
      font-family: "Inter";
  
    }
  
    .main_counter{
     flex-direction: column;
     display: flex;
    }
  
  
  @media screen and (min-width:800px) {

    main {
        display: flex;
    }
    
    .billeterie-formulaire h1{
      text-align: left;
      font-weight: 900;
      font-size: 3rem;
    }
  
    .champ{
    text-align: left; 
    margin-top: 50px;
    margin-left: 0px;
    }
    
    .formulaire-info{
      text-align: left;  
    }
    .etapes{
      text-align: left;
      font-size: 0.8rem;
      margin-top: 20px;
    }
  
    .horaires{
     
      width: 70%;
    
    }
  
    .button-form{
      float: left;
      margin: 0;
    }
  
  }

  
@media screen and (min-width:900px) {

    .image-ticket img{
      width: 330px;
    }
    
    .image-ticket{
      margin-top: 15%;
      width: 500px;
      height: 200px;
      display: block;
    }
  
  }