*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}
html, body {
  margin: 0;
  height: 100%;
}

body{
    background-image:url(../images/billetrie/fond_mobile.svg);
    background-size: cover;
    background-position: center ;
    backdrop-filter: blur(2px);
  }
  main {
    font-family: "Inter", sans-serif;
    color: white;
    text-align: center;
    margin: auto;


  }

   header {
    background-image: none;
    background-color: transparent;
    height: fit-content;
   }
  
  fieldset {
    border: none;
    min-width: 100%; 
    overflow: hidden;
    padding: 0 20px;
    margin: 0;
    margin-top: 10px;
  }

  form {
    display: flex;
  }
  .form_wrap {
    position: relative;
    overflow: hidden;
  }

h1{
    color: white;
    font-size: 2.5rem;
    font-weight: 900;
    margin-top: 10px;
    font-family: "Inter", sans-serif;
     text-transform: uppercase;
     margin-bottom: 15px;
  }
  
  p {
    line-height: normal;
    font-size: 0.8rem;
    margin-top: 20px;
    opacity: 0.7;
  }
  
  h2{
    font-family: "Inter", sans-serif;
    font-size: 1.9rem;
    font-weight: 900;
    text-transform: uppercase;
    width: 100%;    
  }

  .champ{
    text-align: left; 
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }

  .adulte_billet, .enfant_billet {
    display: flex;
    margin: auto;
    margin-bottom: 50px;
  }
  
  span {
    color: red;
  }

  #part_2 .input_basique {
    margin: 0 5px;
    text-align: center;
    font-size: 1.4rem;
  }

  #part_2 .bouton_basique {
    margin: 0;
  }

  /* Masquer les flèches de contrôle */
  #part_2 .input_basique::-webkit-inner-spin-button,
  .input_basique::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
    }

    .amount {
      width: 60%;
      margin: auto;
      margin-top: 20px;
    }

  #part_3 {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #part_3 input {
    margin-bottom: 20px;
  }

  #part_3 h2 {
    margin: 30px 0;
  }

  #part_3 label {
    width: 100%;
    margin-bottom: 10px;
  }

  .nom_prenom {
    width: 100%;
  }

  .nom_prenom div {
    width: 100%;
  }

  
/* Formulaire */
  
label {
  display: block;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 5px;
}
  
  .horaires{
    font-family: "Inter", sans-serif;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
  }

  .horaires label {
    font-style: normal;
  }

  @media screen and (min-width:409px) {
    .horaires{
      justify-content: flex-start;
    }
  }
  
  input[type=radio] {
display: none;
  }
  
  input[type=radio]+label {
    display: inline-block;
    padding: 7px 20px;
    /* background-color: #e7e7e7; */
    border: solid #D9D9D9;
    border-radius: 50px;
    cursor: pointer;
  }
  
  input[type=radio]+label:hover{
    background-color:#D9D9D9 ;
    color: black;
    transition: color 0.1s ease-in-out;
  }
  
  input[type=radio]:checked+label {
    background-color:#D9D9D9 ;
    color: black;
  }

  
.bouton_basique{
    padding: 7px 35px ;
    border-radius: 50px;
    border: solid #D9D9D9;
    color:black ;
    font-size: 1.2rem;
    cursor: pointer;
    max-width: 150px;
    margin-top: 20px;
    }
    
    .bouton_basique:hover{
      color:black;
      /* background-color: #D9D9D9; */
    
    }
    
    .error-1, .error-2{
      color: red;
      text-transform: lowercase;
    }

    /* chemin de navigation */

  .etape {
    font-size: 0.8rem;
    margin-top: 20px;
    color: white;
    opacity: 50%;
    display: inline;
  }
  
  
  .etape_active  {
   color: white;
   text-decoration: none;
   font-weight: 600;
   opacity: 1;
   cursor: pointer;
  }

  
  .image-ticket{
    display: none;
  }

  .input_basique {
    padding: 10px;
    border-radius: 50px;
    background-color: #D9D9D9;
    opacity: 70%;
    border: none;
    width: 100%;
    font-family: "Inter", sans-serif;
    margin: 0;
    color: #4c4c4c;
  }
  .input_basique:focus {
    opacity: 1;
  }
  
/* style compteur */
  
  
.adulte_billet button, .enfant_billet button {
  background: transparent;
  border: none;
  padding: 0;
  width: 100%;
  max-width: 40px;
  opacity: 0.7;
}
.adulte_billet button:hover, .enfant_billet button:hover {
  opacity: 1;
}


  .adulte_billet img, .enfant_billet img{
    width: 100%;
      }
  
  .counter{
      display: flex;
      justify-content: center;
      align-items: center; 
      width: 100px; 
      height: 50px; 
      border-radius: 50px;
      color: rgb(92, 92, 92); 
      font-size: 0.9rem;
      background-color: #D9D9D9;
      font-family: "Inter";
  
    }
  
    .main_counter{
     flex-direction: column;
     display: flex;
    }
  
  
  @media screen and (min-width:767px) {

    body{
      background-image:url(../images/billetrie/fond_desktop.svg);
    }

    .billeterie-formulaire {
      width: 60%;
    }

    main {
        display: flex;
        text-align: left;
        width: 85%;
    }
    fieldset {
      padding: 0;
    }
    
    .billeterie-formulaire h1{
      text-align: left;
      font-weight: 900;
      font-size: 3rem;
    }
  
    .champ{
    text-align: left; 
    margin-left: 0px;
    }
    
    .formulaire-info{
      text-align: left;  
    }
    .etapes{
      text-align: left;
      font-size: 0.8rem;
      margin-top: 20px;
    }

    .image-ticket{
      display: block;
      width: 30%;
      margin-right: 15px;
    }

    .amount {
      width: 100%;
      display: flex;
      gap: 50px;
    }

    .nom_prenom {
      display: flex;
      gap: 40px;
    }

    #part_3 {
      display: block;
    }
  }

  .white {
    color: white;
  }